<!DOCTYPE html>
<html dir="ltr" lang="kr">
<head>
    <meta charset="utf-8"/>
    <title>KIWI SNAP - 촬영과 상품등록을 한번에</title>
    <meta property="og:title" content="키위스냅 - KIWISNAP" />
    <meta property="og:description" content="키위스냅 KIWISNAP 촬영과 상품등록을 한번에" />
    <meta name="naver-site-verification" content="772841114213570bfe72b2fef64c63530c2aef84"/>
    <meta name="viewport" content="width=420, initial-scale=1.0">
    <meta name="description" content="KIWISNAP - 촬영과 상품등록을 한번에"/>
    <meta name="keywords" content="빈티지, 카페24, 고도몰, 자동, 누끼, 촬영, 키위, 스냅, 스냅샷, kiwi, snap, shop, photo, fasion, cafe24, Saas, Software"/>
    <meta name="author" content="KIWISNAP"/>
    <meta name="email" content="contact@mncnext.co.kr"/>
    <meta name="website" content="http://www.kiwisnap.net"/>
    <meta name="Version" content="v1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/logo.png">
    <link href="/nice_bootstrap/dist/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/kiwisnap.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- All Jquery -->
    <script src="/nice_bootstrap/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="/vendor/jquery/jquery.cookie.js"></script>
    <script src="/vendor/jquery/jquery.form.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/nice_bootstrap/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/nice_bootstrap/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <script src="/nice_bootstrap/dist/js/app.min.js"></script>
    <script src="/nice_bootstrap/dist/js/app.init.dark.js"></script>
    <script src="/nice_bootstrap/dist/js/app-style-switcher.js"></script>
    <!-- Common JavaSciprt -->
    <script src="/js/util.js"></script>
    <script src="/js/kiwisnap.js"></script>
    <script>
        let denma_api_url = '<%=config.info.host%>';
        let denma_nextdop_api_url = '<%=config.info.api_server_protocal%>://<%=config.info.api_server_host%>:<%=config.info.api_server_port%>';
        let admin_api_url = '<%=config.info.admin_api_url%>';
        $( document ).ajaxSend(function( event, jqxhr, settings ) {
            jqxhr.setRequestHeader("Authorization", 'Bearer <%-api_token%>');
        });



        function showLoading(){
            let spinner = document.getElementById('spinner');
            spinner.style.visibility = 'visible';
        }
        function hideLoading(){
            let spinner = document.getElementById('spinner');
            spinner.style.visibility = 'hidden';
        }

    </script>
</head>

<body data-theme="light">
<!-- Preloader - style you can find in spinners.css -->
<div class="fullDim preloader">
    <div class="loading">
        <div class="loadingIcon"></div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="spinner spinner-border text-primary" id="spinner" role="status" style="z-index: 100; visibility: hidden">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<!-- Main wrapper - style you can find in pages.scss -->
<div id="main-wrapper">
    <% include ./header %>
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <div class="page-subHeader is_appShow">
            <h6 class="mb-0">PC에서 해당 링크 www.kiwisnap.net/view/ 로 접속하면 더 편리한 작업 가능합니다. <button class="btn btn-sm px-1" type="button" data-clip="https://www.kiwisnap.net/view/" onclick="clipboardCopy()">복사</button></h6>
        </div>
    <%- body %>

        <!-- 상세 에서는 푸터를 제외한다.-->
    <% if (view_path != 'product/detailNormal3') { %>
        <% include ./footer %>
    <% } %>

    </div>
    <!-- End Page wrapper  -->
</div>
<!-- End Wrapper -->
<div class="chat-windows"></div>

<div class="mouseTracker"></div>

<input id="clip_target" type="text" value="" style="position:absolute;top:-9999em;"/>
<% include ../product/jsrender/popup.ejs %>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/nice_bootstrap/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="/nice_bootstrap/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Menu sidebar -->
<script src="/nice_bootstrap/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/nice_bootstrap/dist/js/custom.min.js"></script>
<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/vendor/jsrender/jsrender.min.js"></script>
<script src="/vendor/codemirror/codemirror.js"></script>
<!-- Toastr -->
<script src="/js/toastr.min.js"></script>
<script>
    openAppParamsCheck();
</script>
</body>

</html>
